<style>
	#footer{
		background-color: black;
		color: white;
		padding: 32px;
    	margin: 0px;

	}

	.row-6{
	display: flex;
	justify-content: space-around;
	}

	.for-1 h1{
	padding-bottom: 20px;
	color: white;
	font-size: 30px;
	padding-top: 55px;
	}
	.for-1 span{
	color: orange;
	font-size: 16px; 
	}
	.for-1 h3{
	padding-top: 20px;
	color: white;
	font-size: 30px;
	padding-bottom: 55px;
	}
	
</style>
<div id="footer">
	<div class="container"  height=50px>
    	<div class="row-6">
			<div class="for-1">
				<h3>ATN Shop Toy</h3>
				
			</div>
			<div class="for-1">
				<h5>INFORMATION</h5>
				<span>VỀ CHÚNG TÔI</span><br>
				<span>CỬA HÀNG</span><br>
				<span>THÔNG TIN GIAO HÀNG</span>
			</div>
			<div class="for-1">
				<h5>ALWAY SUPPORT</h5>
				<span>Delivert 1800 6969 (7:00-21:00)</span>
			</div>
			<div class="for-1">
				<h5>ADDRESS</h5>
				<span>Head Office 1: 325 Lê Văn Quới, Phường Bình Trị Đông, Quận Bình Tân, Tp.Hồ Chí Minh, Việt Nam.</span><br>
				<span>Hotlines: 0931820743</span><br>
				<span>phatvan2104@gmai.com</span>				
			</div>
			<p>(c) Copyright by HVPhat - 2021</p>
		</div>
	</div>
</div>
